@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section,
video,
a {
    font-size: 16px;
    scroll-behavior: smooth;
    outline: 0;
}

ul,
ol,
li {
    list-style: none;
    word-break: keep-all;
}

img {
    display: block;
    /* width: 100%;
    height: auto; */
    /* object-fit: cover; */
}

button {
    border: initial;
    background: transparent;
}

textarea {
    resize: none;
}