@charset "UTF-8";

body {
    background: #fff;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

/*==========================
header
============================*/
header {
    background: #3C64B110;
    padding: 23px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
}

header nav a {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #373F41;
    font-weight: 600;
}

header nav a.active {
    color: #3C64B1;
}

header nav a:not(:last-child) {
    margin-right: 48px;
}

.login-bt {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    padding: 12px 18px;
    background: #3C64B1;
    color: #fff;
}

/* 모바일 */
.m-menu-btn {
    display: none;
}

/*==========================
공통 container
============================*/
.container {
    max-width: 1150px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*==========================
main + 
section01
============================*/
.main-wrap {
    display: flex;
    flex-direction: column;
}

.section01 .container {
    display: flex;
}

.section01 {
    background: #3C64B110;
    padding: 164px 0 120px 0;
}

.section01 .txt-box {
    margin-right: 94px;
}

.section01 .txt-box h3 {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: #373F41;
    font-weight: 700;
    margin-bottom: 40px;
}

.section01 .txt-box p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    font-weight: 400;
    margin-bottom: 40px;
}

.section01 .txt-box button {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    background: #3C64B1;
    color: #fff;
    font-weight: 700;
    padding: 15px 18px;
}

.section01 .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*==========================
section02
============================*/
.section02 {
    padding: 120px 0 80px 0;
}

.section02 .container h5 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    font-weight: 700;
    margin-bottom: 56px;
    text-align: center;
}

.section02 .list-group {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.section02 .list-group div {
    width: calc(100% / 3 - 20px);
    margin-right: 30px;
}

.section02 .list-group div:nth-child(3n) {
    margin-right: 0;
}

.section02 .list-group div img {
    margin: auto;
    margin-bottom: 24px;
}

.section02 .list-group div h6 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #373F41;
    font-weight: 700;
    margin-bottom: 12px;
}

.section02 .list-group div p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #373F41;
    font-weight: 400;
    word-break: keep-all;
}

.section02 .list-group div:nth-child(1),
.section02 .list-group div:nth-child(2),
.section02 .list-group div:nth-child(3) {
    margin-bottom: 40px;
}

.section02 .list-group div:nth-child(3) {
    margin-right: 0;
}


/*==========================
section03
============================*/
.section03 .container {
    display: flex;
    align-items: center;
    padding-top: 138px;
    padding-bottom: 138px;
}

.section03 .left-box {
    width: 50%;
    margin-right: 30px;
}

.section03 .left-box h5 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    font-weight: 700;
    margin-bottom: 32px;
}

.section03 .left-box p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    font-weight: 400;
    margin-bottom: 48px;
}

.section03 .left-box button {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    background: #3C64B1;
    color: #fff;
    font-weight: 700;
    padding: 15px 18px;
}

.section03 .right-box {
    width: 50%;
}

.section03 .right-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========================
section04
============================*/
.section04 .container {
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.section04 .left-box {
    width: 50%;
    margin-right: 30px;
}

.section04 .left-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section04 .right-box {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.section04 .right-box div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}

.section04 .right-box div:nth-child(1),
.section04 .right-box div:nth-child(3) {
    margin-right: 30px;
}

.section04 .right-box div:nth-child(1),
.section04 .right-box div:nth-child(2) {
    margin-bottom: 48px;
}

.section04 .right-box div>img {
    width: 32px;
    margin-bottom: 16px;
}

.section04 .right-box div p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    font-weight: 400;
    word-wrap: break-word;
}


/*==========================
section05
============================*/
.section05 {
    padding: 64px 0;
    background: #3C64B110;
    text-align: center;
}

.section05 h4 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #373F41;
    font-weight: 700;
    margin-bottom: 32px;
}

.section05 p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    font-weight: 400;
    margin-bottom: 56px;
}

.section05 button {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    background: #3C64B1;
    color: #fff;
    font-weight: 700;
    padding: 15px 18px;
}

footer {
    text-align: center;
    padding: 24px 0;
    background: #373F41;
}

footer p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #C3CBCD;
}

/* @media (max-width: 1110px) {
.container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section01 .img-box {
        width: 100%;
        height: 100%;
    }

    .section03 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section03 .left-box {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .section03 .right-box {
        width: 80%;
    }

    .section04 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .section04 .left-box {
        margin-bottom: 80px;
        width: 60%;
    }

    .section04 .right-box {
        text-align: center;
        margin-bottom: 100px;
    }

    .section04 .right-box img {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 40px;
    }

    header nav {
        display: none;
    }

    .section01 {
        padding: 100px 0;
    }

    .section01 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section01 .txt-box {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .section02 .container {
        padding: 0 40px;
    }

    .section03 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section03 .left-box {
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .section03 .right-box {
        width: 90%;
    }

    .section04 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .section04 .left-box {
        margin-bottom: 80px;
        width: 60%;
    }

    .section04 .container .right-box {
        text-align: center;
    }

    .section04 .right-box img {
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    header {
        padding: 30px;
    }

    header nav {
        display: none;
    }

    .section01 {
        padding: 80px 0;
    }

    .section01 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section01 .txt-box {
        padding: 0 30px;
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .section01 .img-box {
        width: 80%;
    }

    .section02 .container {
        padding: 0 40px;
    }

    .section02 .list-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section02 .list-group div {
        width: 100%;
        margin-right: 0;
    }

    .section03 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0;
    }

    .section03 .left-box {
        width: 100%;
        padding: 0 30px;
        margin-right: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .section03 .right-box {
        width: 90%;
    }

    .section04 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .section04 .left-box {
        margin-right: 0;
        margin-bottom: 80px;
        width: 60%;
    }

    .section04 .left-box img {
        width: 100%;
        margin: auto;
    }

    .section04 .right-box {
        width: 100%;
        text-align: center;
    }

    .section04 .right-box div {
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0 40px 40px 40px;
    }

    .section04 .right-box div img {
        margin: auto;
        margin-bottom: 20px;
    }

    .section05 {
        padding: 40px;
    }
} */

@media(max-width:1100px) {
    .section01 .txt-box {
        margin-right: 40px;
    }

    .section01 .txt-box h3 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .section01 .txt-box h3 br {
        display: none;
    }

    .section03 .left-box {
        margin-right: 40px;
    }

    .section03 .left-box h3 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .section03 .left-box h3 br {
        display: none;
    }

    .section04 .container {}
}

@media(max-width:800px) {

    header nav,
    header .login-bt {
        display: none;
    }

    .m-menu-btn {
        display: block;
    }

    .section01 {
        padding: 80px 0 60px;
    }

    .section01 .container {
        flex-wrap: wrap;
    }

    .section01 .txt-box {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .section01 .txt-box h3 {
        font-size: 28px;
    }

    .section01 .img-box {
        width: 100%;
    }

    .section02 {
        padding: 60px 0 40px;
    }

    .section02 .container h5 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .section02 .list-group div p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .section02 .list-group div {
        width: calc(100% / 2 - 15px);
    }

    .section02 .list-group div:nth-child(3n) {
        margin-right: 30px;
    }

    .section02 .list-group div:nth-child(2n) {
        margin-right: 0;
    }

    .section03 {
        padding: 80px 0 60px;
    }

    .section03 .container {
        flex-wrap: wrap;
    }

    .section03 .left-box {
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .section03 .left-box h3 {
        font-size: 28px;
    }

    .section03 .right-box {
        width: 100%;
    }

    .section04 .container {
        flex-wrap: wrap;
    }

    .section04 .left-box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 45px;
    }

    .section04 .right-box {
        width: 100%;
    }

    .section04 .right-box div p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        /* white-space: nowrap; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width:400px) {

    .section02 .list-group div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .section02 .list-group div:nth-child(3n) {
        margin-right: 0;
    }

    .section03 .container {
        padding: 0;
    }

    .section04 .right-box div {
        width: 100%;
        margin: 0 0 40px;
    }

    .section04 .right-box div img {
        margin: 0 auto 20px;
    }

    .section04 .right-box div p {
        text-align: center;
    }

    .section04 .right-box div:nth-child(1),
    .section04 .right-box div:nth-child(3) {
        margin-right: 0;
    }
}